*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    width: 80%;
    margin: auto;
}

header{
    background-color: #FF6900;
     color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}


body{
    margin-top: 8%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}


.flex {
    display: flex;
}

.flex-spacebetween{
    display: flex;
    justify-content: space-between;
}


ul >li{
    list-style: none;
    margin: 0 5px;
}

.logo-boolean{
    height: 20px;
}


section{
    margin-top: 50px;
    margin-bottom: 100px;
}

.container{
    width: 300px;
    height: 435px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.img{
    width: 100%;
}

.card-heart{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    right: 0;
    top: 10px;
    font-size: 30px;
    text-align: center;
    
}

.card-heart:hover{
    position: absolute;
    width: 30px;
    height: 30px;
    color: red;
    right: 0;
    top: 10px;
    font-size: 30px;
    text-align: center;
}

.card-discount{
    position: absolute;
    width: 35px;
    height: 13px;
    background-color: red;
    color: white;
    left: 0;
    bottom: 10px;
   
}

.card-sostenibilita{
    position: absolute;
    width: 70px;
    height: 13px;
    background-color: green;
    color: white;
    left: 38px;
    bottom: 10px;
}

.fa-heart{
    padding: 8px;
}

.card-discount >p{
    font-size: 13px;
    margin: -1px 3px;
}

.card-sostenibilita >p{
    font-size: 13px;
    margin: -1px 3px;
}

.info{
    position: absolute;
    bottom: -58px;
}

.light-gray{
    color: rgb(134, 134, 134);
}

.description{
    font-size: 13px;
}

.price{
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.cut{
    text-decoration: line-through;
    font-size: 13px;
}

footer{
    background-color: black;
    color: white;
    padding: 40px 0;
    line-height: 35px;
}

.img-2{
display: none;
}

.container:hover .img-1{
    display: none;
}

.container:hover .img-2{
    display: block;
}
