*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    width: 80%;
    margin: auto;
}

header{
    background-color: #FF6900;
     color: white;
    padding: 20px 0;

}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}


.flex {
    display: flex;
}

.flex-spacebetween{
    display: flex;
    justify-content: space-between;
}


ul >li{
    list-style: none;
    margin: 0 5px;
}

.logo-boolean{
    height: 20px;
}

.icon >i{
    margin: 0 3px;
}

section{
    margin-top: 50px;
}

.container{
    width: 300px;
    height: 450px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.item1{
    background-image: url('../img/1.jpg');
}

.item2{
    background-image: url('../img/2.jpg');
}
.item3{
    background-image: url('../img/3.jpg');
}



.card-heart{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    right: 0;
    top: 10px;
    
}

.card-discount{
    position: absolute;
    width: 35px;
    height: 13px;
    background-color: red;
    color: white;
    left: 0;
    bottom: 10px;
   
}

.card-sostenibilita{
    position: absolute;
    width: 70px;
    height: 13px;
    background-color: green;
    color: white;
    left: 38px;
    bottom: 10px;
}

.fa-heart{
    padding: 8px;
}

.card-discount >p{
    font-size: 13px;
    margin: -1px 3px;
}

.card-sostenibilita >p{
    font-size: 13px;
    margin: -1px 3px;
}

.info{
    position: absolute;
    bottom: -58px;
}

.light-gray{
    color: rgb(134, 134, 134);
}

.description{
    font-size: 13px;
}

.price{
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.cut{
    text-decoration: line-through;
    font-size: 13px;
}